<ul>
    <table class="table">
        <thead>
            <th>Company</th>
            <th>Latest Price</th>
        </thead>
        <tbody>
            <% if true %>
                <%@stocks.each do |stock| %>
                    <tr>
                        <% quote = @client.quote(stock.symbol) %>
                        <td> <%= "#{stock.symbol}" %> </td>
                        <td> <%= "#{quote.latest_price}" %> </td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    <table>
</ul>